@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.aboutMe {
    min-height: 100vh;
    position: relative;
    text-align: center;
    padding: 1rem;
    border-radius: 20px;
    margin: auto;
}

.aboutMeText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 650px;
    margin: auto;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.274);
    padding: 5px;
    border-radius: 15px;
}

.aboutMeText>h1 {
    font-weight: 700;
    font-size: 60pt;
    text-shadow: 0px 0px 3px black;
}

.aboutMeText>p {
    font-size: 16pt;
    font-weight: 400;
    text-shadow: 0px 0px 3px black;
}

.content {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.information {
    font-family: 'Poppins', sans-serif;
    max-width: 1500px;
    border-radius: 15px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    padding: 3rem;
    min-height: 1000px;
}

.information>h1 {
    font-size: 38pt;
}

.socials {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
}

.socials>div {
    padding: 1rem;
    display: inline-block;
    width: min-content;
    text-align: center;
    cursor: pointer;
    transition: color 200ms ease;
}

.socials>div>svg {
    font-size: 38pt;
}

.socials>div>p {
    font-size: 20pt;
}

.socials>div:hover {
    color: #ff7b00;
}

.education>div {
    margin-left: 1rem;
    padding-left: 1rem;
}

.uow {
    border-left: 4px solid #FAA61A;
}

.boys {
    border-left: 4px solid #8f0100;
}

.technologies>ul {
    width: max-content;
}

@media only screen and (min-width: 770px) {
    .technologies>ul {
        columns: 2;
        column-gap: 10em;
    }
}

.technologies>ul>li {
    width: max-content;
}