.tag {
    display: inline-block;
    font-weight: 600;
    font-size: 11pt;
    width: max-content;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.tag-react {
    background-color: #61dbfb;
    border-color: #4daec7;
}

.tag-javascript {
    background-color: #ffd83a;
    border-color: #ccac2e;
}

.tag-node {
    background-color: #83cd29;
    border-color: #629a1e;
}

.tag-frontend {
    background-color: #30C3A6;
    border-color: #23907a;
}

.tag-firebase {
    background-color: #f7c52a;
    border-color: #c39c21;
}

.tag-java {
    background-color: #e00308;
    border-color: #ad0206;
}

.tag-opencv {
    background-color: #8bda67;
    border-color: #6aa64e;
}

.tag-php {
    background-color: #7377ad;
    border-color: #51537a;
}

.tag-css {
    background-color: #2965f1;
    border-color: #204fbe;
}

.tag-express {
    background-color: #e57373;
    border-color: #b25959;
}

.tag-html {
    background-color: #e96228;
    border-color: #b54c1f;
}