.tag {
    display: inline-block;
    font-weight: 600;
    font-size: 12pt;
    width: max-content;
    border: 3px solid grey;
    border-radius: 3px;
    margin: 3px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgba(0, 0, 0, 0.20);
}

.tag-react {
    color: #61dbfb;
    border-color: #61dbfb;
}

.tag-javascript {
    color: #f0db4f;
    border-color: #f0db4f;
}

.tag-node {
    color: #68a063;
    border-color: #68a063;
}

.tag-frontend {
    color: #006fdd;
    border-color: #006fdd;
}