.navigation {
    opacity: 1;
    position: fixed;
    left: 0;
    display: flex;
    justify-content:center;
    background-color: rgba(0, 0, 0, 0.2);
    min-width: 100vw;
    z-index: 9;
    transition-property: opacity background-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.navigationLink {
    cursor: pointer;
    font-size: x-large;
    margin: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: white;
    text-decoration: none;
    transition: color 200ms ease;
}

.navigationLink:hover {
    color: #535353;
}

.hidden {
    opacity: 0;
}

.solid {
    background-color: rgba(56, 56, 56, 1);
}