.selectItem {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
}

.tagCheckbox {
    text-align: end;
    width: 1em;
}