.projects {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.projectsDisplay {
    display: flex;
    position: relative;
    margin: auto;
    top: 10vh;
    background-color: white;
    height: 85vh;
    border-radius: 15px;
    padding: 1rem;
    max-width: 1500px;
}

.projectsDisplay > div {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}